<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

	<title>Server Programming with Spring Boot</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	


</head>

	<body>
	
		<h1>BookLists</h1>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Title</th>
					<th>Author</th>
					<th>Year</th>
					<th>ISBN</th>
					<th>Price</th>
				</tr>
			</thead>
		
		<tbody>
				<tr th:each = "Book : ${Books}">
					<td> <span th:text="${Book.title}">Title </span></td>
					<td> <span th:text="${Book.author}">Author </span></td>
					<td> <span  th:text="${Book.year}">Year </span></td>
					<td> <span  th:text="${Book.isbn}">ISBN </span></td>
					<td> <span th:text="${Book.price}">Price </span></td>
					<td ><a class="btn btn-danger" th:href="@{/delete/{id}(id=${Book.id})}">Delete</a>
				</tr>
			
			
			
			</tbody>
		
		
		
		
		</table>
		
		
		<a href="/add" class="btn btn-primary">Add Book</a>
		
	</body>







</html>